$text-color: #0e0052;
$text-color-secondary: #46444d;
$base-dark-color: #0e0052;
$base-ultralight-color: #cee5ee;
$base-ultralight-color-op50: #cee5ee84;

$main-color-dark: #06266F;
$main-color: #1240AB;
$main-color-pale-dark: #2A4480;
$main-color-pale-light: #4671D5;
$main-color-light: #6C8CD5;
$pale-white-color: #f1f1f1;