.button {
    margin-top: 25px;
    width: 250px;
    height: 45px;
    background-color: $main-color-dark;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}