.descr {
    font-size: 24px;
    color: $main-color-pale-dark;
    font-weight: 300;
    margin-top: 35px;
    text-align: center;
    &_test {
        margin-top: 15px;
        font-size: 32px;
        font-weight: 300;
        color: $main-color;
        span {
            font-weight: 400;
        }
    }
    &_question-one {
        font-size: 24px;
        color: $main-color;
        font-weight: 400;
        margin: 10px 0;
        text-align: center;
    }
    &_answer-one {
        font-size: 24px;
        color: $main-color;
        font-weight: 400;
        margin: 10px 0;
        text-align: center;
    }
    span {
        color: $main-color;
        font-weight: 500;
    }
}
