.header {
    font-size: 64px;
    color: $main-color-dark;
    &_table {
        font-size: 32px;
        color: $main-color-dark;
    }
    &_not-found {
        color: $main-color;
        font-size: 72px;
    }
}