input {
    height: 50px;
    width: 450px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    color: $text-color-secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}