@import '../../node_modules/bootstrap/dist/css/bootstrap-reboot.css';
@import './base/fonts.scss';
@import './base/variables.scss';
@import '../font-awesome/scss/font-awesome.scss';

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import './blocks/header.scss';
@import './blocks/input.scss';
@import './blocks/descr.scss';
@import './blocks/buttons.scss';
@import './blocks/timers.scss';
@import './blocks/delimeters.scss';
@import './blocks/pages/startPage.scss';
@import './blocks/pages/testPage.scss';
@import './blocks/components/questionOne.scss';
@import './blocks/components/testStageOne.scss';